@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$clr-accent: hsl(248, 32%, 49%);
$clr-dark-blue: hwb(249 24% 71%);
$clr-grayish-blue: hsl(246, 25%, 77%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FF7979;
    height: 100vh;
}

h1, h4, h5, p {
    margin: 0;
}

.main {
    background-color: #FF7979;
    background-image: url('./assets/bg-intro-mobile.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 4rem;
}

.container {
    width: 100%;
    min-width: 375px;
    max-width: 1440px;
    padding: 5.5rem 1.5rem 4.25rem;
}

.hero {
    width: 100%;
    min-width: 327px;
    max-width: 525px;
    color: #fff;
    text-align: center;

    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.25rem;
        letter-spacing: -0.01825rem;
    }

    &__description {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.625rem;
        margin-top: 1em;
    }
}

.free-trial {
    width: 100%;
    min-width: 327px;
    max-width: 540px;
}

.pricing {
    background-color: $clr-accent;
    color: #fff;
    text-align: center;
    // margin-block: 4rem 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.07rem 4.15rem;
    border-radius: 0.625rem;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    
    &__text {
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.625rem;
        letter-spacing: 0.01675rem;
    }

    .bold {
        font-weight: 700;
    }
}

.claim {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: .5rem;
    }

    
    .input {
        &__input-wrapper {
            position: relative;
        }
        
        &__input-field {
            width: 100%;
            display: block;
            color: $clr-dark-blue;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.625rem;
            letter-spacing: 0.01563rem;
            text-transform: capitalize;
            padding: 1.07em 1.035em;
            border: 1px solid #DEDEDE;
            border-radius: 0.3125rem;
    
            &::placeholder {
                color: #3D3B48;
                opacity: .75;
            }
    
            &:focus {
                outline: 1px solid $clr-accent;
            }
        }
        
        &__error-icon {
            // display: none;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-1.69rem, -50%);
        }
    
        &__error {
            display: block;
            width: 100%;
            // display: none;
            color: #FF7979;
            font-size: 0.6875rem;
            font-weight: 500;
            font-style: italic;
            text-align: end;
            margin-top: .545em;
        }
    }



    &__button {
        background-color: #38CC8B;
        color: #fff;
        font-size: 0.9375rem;
        font-weight: 600;
        line-height: 1.625rem;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
        cursor: pointer;
        padding-block: 1em;
        border: none;
        border-radius: 0.3125rem;
        box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;

        &:hover {
            background-color: #77E2B3;
        }
    }

    &__agreeing-text {
        color: $clr-grayish-blue;
        font-size: 0.6875rem;
        font-weight: 500;
        line-height: 1.3125rem;
        text-align: center;
    }

    &__terms {
        color: #FF7979;
        font-weight: 700;
    }
}

/* Attribution */
.attribution {
    width: 100vw;
    background-color: black;
    opacity: .9;
    padding: 2rem;
    margin: 0;

    &__text {
        color: #fff;
        font-size: 11px;
        text-align: center;
    }

    &__link {
        color: #fff;
        font-weight: 600;
    }
}

@media screen and (min-width: 600px) {
    .main {
        flex-direction: row;
        gap: 2.81rem;
    }

    .container {
        padding: 7.56rem 10.31rem;
    }

    .hero {
        text-align: start;

        &__title {
            font-size: 3.125rem;
            line-height: 3.4375rem;
            letter-spacing: -0.03256rem;
        }
    
        &__description {
            margin-top: 2em;
        }
    }

    .claim {
        padding: 2.5rem;
    }
}